body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.cart-section {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333333;
}

.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    padding: 20px 0;
}

.cart-item-header {
    margin-right: 20px;
}

.cart-item-image img {
    width: 150px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.cart-item-details {
    flex-grow: 1;
    padding: 0 20px;
}

.item-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333333;
}

.item-content {
    font-size: 14px;
    color: #777777;
    margin-bottom: 10px;
}

.item-price {
    font-size: 16px;
    font-weight: bold;
    color: #27ae60;
}

.cart-item-actions {
    text-align: right;
}

.item-quantity,
.item-total-price {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333333;
}

.item-total-price span {
    font-weight: bold;
}

.order-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid #dddddd;
}

.order-summary div {
    font-size: 18px;
    color: #333333;
}

.order-summary button {
    background-color: #27ae60;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.order-summary button:hover {
    background-color: #219150;
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 10px;
}
