* {
  margin: 0;
  padding: 0;
}

/*article(상단메뉴바)시작*/
article {
  width: 100%;
  background: lightgoldenrodyellow;
  margin-top: 20px;

}

.article {
  max-width: 1600px;
  width: 1600px;
  margin: 0 auto;
  position: sticky;

  z-index: 4;

  top: 124px;


}


.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
  height: 50px;
  font-size: 20px;
  padding-top: 10px;
  
}
.main-menu2 {
  display: flex;
  justify-content: space-around;
  list-style: none;
  height: 50px;
  font-size: 20px;
  padding-top: 10px;
  margin-top: 20px;
  
}

.article-menu {
  text-align: center;
  display: grid;
}

.black a {
  color: black;
}

.small {
  font-size: 10px;
}



/*article(상단메뉴바) 끝*/
body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.transverse {
  display: flex;


}

.b {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.bb {
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 16px;
}

.g {
  font-size: 16px;
  color: gray;
  margin-left: 5px;
  margin-top: auto;


}

.gg {
  font-size: 18px;
}

section {
  width: 1600px;
  align-items: center;
}

section img {
  width: 300px;
  height: 300px;
}

.itr1 {
  display: flex;
  flex-direction: column;
}

.itr2 {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.itr3 {
  display: flex;
  flex-direction: column;
}
.itr4{margin-top: 50px;display: flex;}
.itr4 img{margin-right: 133px;}

nav {
  position: fixed;
  left: 0;
}
.hide {
  display: none;
  font-size: 10px;
}
.bottom-line{border-bottom: 2px solid black;}
.asd{display: flex;font-size: 30px;margin-top: 50px;}
.asd1 li:not(:first-child) {margin-left: 50px;}
