@charset "UTF-8";

.main-container {
    max-width: 1600px;
    margin: 0 auto; /* Centers the container */
    width: 100%;
    padding: 0 15px; /* Optional: Adjust the padding as needed */
    background-color:#f5f5f5;
}
.card.mb-4.shadow-sm img{width: 370px; height: 400px;}
div.card.mb-4.shadow-sm{height: 600px}