@charset "UTF-8";
footer1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto; /* 가로 가운데 정렬 */
    position: relative; /* 콘텐츠 아래에 자연스럽게 위치하도록 설정 */
}

.footer1 {
    width: 200px;
    text-align: left;
    font-size: 13px;
    padding: 30px 50px 100px;
    height: 30px;
}
