<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>물풍선</title>
<link rel="stylesheet" href="/css/new_product.css">
<link rel="stylesheet" href="/css/header.css">
<script src="/src/main/resources/static/js/article.js"></script>
<link rel="stylesheet" href="css/nav.css">

</head>
<body layout:fragment="content">
	<article class="article">
		<div class="menu">
			<ul class="main-menu">
				<div class="article-menu">
					<li class="black"><a href="home" th:href="@{/}">홈</a></li>
					<li class="hide">●</li>
				</div>
				<div class="article-menu">
					<li><a href="new_product" th:href="@{/new_product}">신상품</a></li>
					<li class="small">●</li>
				</div>
				<div class="article-menu">
					<li><a href="popular_product" th:href="@{/popular_product}">인기상품</a></li>
					<li class="hide">●</li>
				</div>
			</ul>
		</div>
	</article>
	<section>
		<div class="itr3">
			<div class="itr2">
				<div class="itr1">
					<a href=""><img src="/images/items/1.jpg"></a>
					<div>
						<div class="transverse">
							<p class="gg">삼다수</p>
							<p class="g">(1병당 509원)</p>
						</div>
						<p class="bb">삼다수 500mL * 20병</p>
						<p class="b">10,170원</p>
					</div>
				</div>
				<div class="itr1">
					<a href=""><img src="/images/1.jpg"></a>
					<div>
						<div class="transverse">
							<p class="gg">삼다수</p>
							<p class="g">(1병당 509원)</p>
						</div>
						<p class="bb">삼다수 500mL * 20병</p>
						<p class="b">10,170원</p>
					</div>
				</div>
				<div class="itr1">
					<a href=""><img src="/src/main/resources/static/images/1.jpg"></a>
					<div>
						<div class="transverse">
							<p class="gg">삼다수</p>
							<p class="g">(1병당 509원)</p>
						</div>
						<p class="bb">삼다수 500mL * 20병</p>
						<p class="b">10,170원</p>
					</div>
				</div>
				<div class="itr1">
					<a href=""><img src="/images/1.jpg"></a>
					<div>
						<div class="transverse">
							<p class="gg">삼다수</p>
							<p class="g">(1병당 509원)</p>
						</div>
						<p class="bb">삼다수 500mL * 20병</p>
						<p class="b">10,170원</p>
					</div>
				</div>
			</div>
			<div class="itr2">
				<div class="itr1">
					<a href=""><img src="/src/main/resources/static/images/1.jpg"></a>
					<div>
						<div class="transverse">
							<p class="gg">삼다수</p>
							<p class="g">(1병당 509원)</p>
						</div>
						<p class="bb">삼다수 500mL * 20병</p>
						<p class="b">10,170원</p>
					</div>
				</div>
				<div class="itr1">
					<a href=""><img src="/src/main/resources/static/images/1.jpg"></a>
					<div>
						<div class="transverse">
							<p class="gg">삼다수</p>
							<p class="g">(1병당 509원)</p>
						</div>
						<p class="bb">삼다수 500mL * 20병</p>
						<p class="b">10,170원</p>
					</div>
				</div>
				<div class="itr1">
					<a href=""><img src="/src/main/resources/static/images/1.jpg"></a>
					<div>
						<div class="transverse">
							<p class="gg">삼다수</p>
							<p class="g">(1병당 509원)</p>
						</div>
						<p class="bb">삼다수 500mL * 20병</p>
						<p class="b">10,170원</p>
					</div>
				</div>
				<div class="itr1">
					<a href=""><img src="/src/main/resources/static/images/1.jpg"></a>
					<div>
						<div class="transverse">
							<p class="gg">삼다수</p>
							<p class="g">(1병당 509원)</p>
						</div>
						<p class="bb">삼다수 500mL * 20병</p>
						<p class="b">10,170원</p>
					</div>
				</div>
			</div>
			<div class="itr2">
				<div class="itr1">
					<a href=""><img src="/src/main/resources/static/images/1.jpg"></a>
					<div>
						<div class="transverse">
							<p class="gg">삼다수</p>
							<p class="g">(1병당 509원)</p>
						</div>
						<p class="bb">삼다수 500mL * 20병</p>
						<p class="b">10,170원</p>
					</div>
				</div>
				<div class="itr1">
					<a href=""><img src="/src/main/resources/static/images/1.jpg"></a>
					<div>
						<div class="transverse">
							<p class="gg">삼다수</p>
							<p class="g">(1병당 509원)</p>
						</div>
						<p class="bb">삼다수 500mL * 20병</p>
						<p class="b">10,170원</p>
					</div>
				</div>
				<div class="itr1">
					<a href=""><img src="/src/main/resources/static/images/1.jpg"></a>
					<div>
						<div class="transverse">
							<p class="gg">삼다수</p>
							<p class="g">(1병당 509원)</p>
						</div>
						<p class="bb">삼다수 500mL * 20병</p>
						<p class="b">10,170원</p>
					</div>
				</div>
				<div class="itr1">
					<a href=""><img src="/src/main/resources/static/images/1.jpg"></a>
					<div>
						<div class="transverse">
							<p class="gg">삼다수</p>
							<p class="g">(1병당 509원)</p>
						</div>
						<p class="bb">삼다수 500mL * 20병</p>
						<p class="b">10,170원</p>
					</div>
				</div>
			</div>
			<div class="itr2">
				<div class="itr1">
					<a href=""><img src="/src/main/resources/static/images/1.jpg"></a>
					<div>
						<div class="transverse">
							<p class="gg">삼다수</p>
							<p class="g">(1병당 509원)</p>
						</div>
						<p class="bb">삼다수 500mL * 20병</p>
						<p class="b">10,170원</p>
					</div>
				</div>
				<div class="itr1">
					<a href=""><img src="/src/main/resources/static/images/1.jpg"></a>
					<div>
						<div class="transverse">
							<p class="gg">삼다수</p>
							<p class="g">(1병당 509원)</p>
						</div>
						<p class="bb">삼다수 500mL * 20병</p>
						<p class="b">10,170원</p>
					</div>
				</div>
				<div class="itr1">
					<a href=""><img src="/src/main/resources/static/images/1.jpg"></a>
					<div>
						<div class="transverse">
							<p class="gg">삼다수</p>
							<p class="g">(1병당 509원)</p>
						</div>
						<p class="bb">삼다수 500mL * 20병</p>
						<p class="b">10,170원</p>
					</div>
				</div>
				<div class="itr1">
					<a href=""><img src="/src/main/resources/static/images/1.jpg"></a>
					<div>
						<div class="transverse">
							<p class="gg">삼다수</p>
							<p class="g">(1병당 509원)</p>
						</div>
						<p class="bb">삼다수 500mL * 20병</p>
						<p class="b">10,170원</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>