<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Footer Fragment</title>
    <style>
       
    </style>
</head>

<body >
    <div class="footer" th:fragment="footerFragment">
        <footer>
            <div class="footer1">상호명 및 호스팅 서비스 제공 : 물풍선<br>
                대표이사 : 김강희 / 구인모 / 김규호 / 이주영<br>
                사업자 등록번호 : 123-456-789<br>
                통신판매업신고 : 2024-서울강남-0708</div>
            <div class="footer1">365고객센터 | 전자금융거래분쟁처리담당<br>
                1577-7011 (유료)<br>
                강남역 11번 국비지원 받으세요<br>
                email : help@coupang.com</div>
            
        </footer>
    </div>
</body>

</html>